*
{
	direction: rtl ;
}

.title_enter_report
{
	text-align: center;
}

.div3 h1
{
    font-size: 26px;
    font-weight: bold;
}

.head{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 2%  

}
.div1{
    width: 15%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.div2{
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
.inst{
    width: 100%;
    display: flex;
    justify-content: center;
}
.p1-1{
    text-align: center;
    font-size:1.2vw;
}
.div3{
    text-align: center;
    width: 64%;
    margin-right: 40px;
}
.div4{
    width: 18%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.div5{
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
.pic2{
    width: 30%;
    height: 100%;
}
.div6{
    width: 100%;
    display: flex;
    justify-content: center;
}
.p2{
font-size:1.3vw;
}


.date_enter_report
{
	margin: 4% 10% 0px 0px;
	width: 12%;
}

.date_enter_report
{
	display: inline;
	margin-left: 2%
}

.report_table
{
	width: 90%;
	margin: 0px auto;
	margin-top: 5%;
	margin-bottom: 2%;
}

th
{
	text-align: center;
	font-size: 18px;
	height: 30px;
}

.th1
{
	width: 12%;
}

.th2
{
	width: 25%
}

.th3
{
	width: 10%
}

.th4
{
	width: 25%
}

.th5
{
	width: 15% 
}


#enter_report_butt,#enter_report_butt1
{

    border: none ;
    border-radius: 10px;
    background-color: #506580 ;
    color: white ;
    width: 50px;
    height: 50px;  
    font-size: 20px ;
    font-weight: bold ;
    
}



#enter_report_butt
{
	margin-left: 1%
}

#enter_report_butt:focus,#enter_report_butt1:focus
{
    outline: none !important;
}

.hide
{
	display: none;
}






