*
{
	direction: rtl ;
}

.title
{
	text-align: center;
	text-decoration: underline;
}


.date
{
	text-align: center;
	font-size: 20px;
}

.report_table
{
	width: 90%;
	margin: 0px auto;
	margin-top: 5%;
	margin-bottom: 2%;
}

.total
{
	margin: 6% 0px 5% 0px;
}

.l1
{
	margin: 0px 10% 0px 2%;
}

.inp2,.l1
{
	font-size: 22px;
}

tbody
{
	font-size: 16px;
}

th
{
	text-align: center;
	font-size: 18px;
	height: 30px;
}

.th1
{
	width: 12%;
}

.th2
{
	width: 25%
}

.th3
{
	width: 15%
}

.th4
{
	width: 8%
}

.th5
{
	width: 10% 
}

.th6
{
	width: 10%
}


.report_table1
{
	width: 35%;
	margin: 6% 10% 5% 0px;

}

.th_diet
{
	width: 25%
}

.th_number
{
	width: 10%
}

#butt1
{

    border: none ;
    border-radius: 10px;
    background-color: #506580 ;
    color: white ;
    width: 50px;
    height: 50px;  
    font-size: 20px ;
    font-weight: bold ;
	margin-right: 4%;
    
}

#butt1:focus
{
    outline: none !important;
}

.hide
{
	display: none;
}


.head{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 2%  

}
.div1{
    width: 15%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.div2{
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
.inst{
    width: 100%;
    display: flex;
    justify-content: center;
}
.p1-1{
    text-align: center;
    font-size:1.2vw;
}
.div3{
    text-align: center;
    width: 64%;
    margin-right: 40px;
}
.div4{
    width: 18%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.div5{
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
.pic2{
    width: 30%;
    height: 100%;
}
.div6{
    width: 100%;
    display: flex;
    justify-content: center;
}
.p2{
font-size:1.3vw;
}





